server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/hr_management_system
    username: root
    password: hamileddin2006

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret-key: 722b3f3d3e20d628fa2efeab1c8b021cf7c3841d8653dedc9e15839af1e0f5c6
  access-token-expiration: 3600000
  refresh-token-expiration: 604800000

mail:
  service:
    from: ayoub.hamileddine@gmail.com
